body {
  margin: 0;
}

.circulo {
  min-height: 20px;
  min-width: 20px;
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 30px;
}

.lista {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
